@import 'https://fonts.googleapis.com/css?family=Lato';

$body-bg:                         #2980b9;
$font-familly-sans-serif:         'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$navbar-default-bg:               #34495e;
$navbar-default-link-hover-color: #3498db;
$navbar-brand-link-hover-color:   #3498db;

.center {
	text-align: center;
}

.navbar-brand {
	font-weight: bold;
}
@import "bootstrap-sprockets";
@import "bootstrap";



